    .App {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: cyan
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0
    }
    
    @media (max-width: 500px) {
        html {
            font-size: 10px;
        }
    }